body {
	  margin:0;
	  padding:0;
	  background-color:#03A9F4;
	}



h1 {
	font-size: 100px;
	text-align: center;
	border-radius: 20px;
	color:#03A9F4;
	width:650px;
	margin-right:auto;
	margin-left:auto;
	background-color:#76FF03;
	font-family: 'Poiret One', cursive;

}

#compte {
	text-align:center;
	font-family: 'Poiret One', cursive;
}

#container {
	display:block;
	border-bottom:2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-radius: 4px;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	margin-top:90px;
}

#todo {
	display:inline-block;
	width:99%;
	height:40px;
	margin-left:auto;
	margin-right:auto;
}


.item {
	width: 600px;
	padding-top:20px;
	list-style-type:none;
	border-bottom: 1px solid black;
	
}

.bouton {
	display:inline;

	font-family: 'Poiret One', cursive;
	text-align: center;
}

/*
	Regroupe les propriétés si elles concernent les mêmes éléments.
*/
button {
	display:inline;
	background-color:yellow;
	border-radius: 40%;
	font-family: 'Poiret One', cursive;
	font-size:19px;
	text-decoration: bold;
}

button:hover {
	cursor:pointer;
	background-color:#76FF03;
}

.item:hover {
	background-color:#90a4ae;
	width:600px;
	margin:auto;

}



.barre {
	text-decoration: line-through;
}

li {
	list-style-type: none;
}





#menuBas {
	width:600px;
	margin:auto;
}
